.page-container, body {
    background-color: #212121;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    min-height: 100vh;

}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
}

/* Общая стилизация для контейнера */
.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 20px; /* Сдвигает вправо */
}

.logo {
    font-family: 'Montserrat-ExtraBold', sans-serif; /* Используем шрифт */
    font-size: 36px;
    font-weight: 800;
    color: #d6ffa4;
    font-style: normal;
    text-decoration: none;
}

.logo:hover {
    color: #caff75; /* Цвет при наведении */
}

/* Стилизация для кнопок навигации */
.navigation-links {
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Разделяет кнопки равномерно по всей ширине */
    flex: 1;
    margin-left: 250px; /* Сдвигаем вправо */
    margin-top: 15px;
    gap: 20px; /* Обеспечивает отступы между кнопками */
    align-items: center; /* Выравнивание кнопок по вертикали */
    text-decoration: none;
}

.nav-link {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; /* Текст по центру внутри кнопок */
}

.navigation-links .nav-link-now {
    margin-right: 20px; /* Увеличиваем отступ справа от "Тренировки" */
    text-decoration: none;
    color: #d6ffa4;
}

.logo-container,
.auth-buttons {
    flex-shrink: 0; /* Не сжимается */
}

.nav-link:hover {
    color: #d6ffa4;
}

.user-info{
    display: flex;
    gap: 8px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color : #ffffff;
    align-items: center;
    margin-top: -5px;
}

.user-info img{
    width: 30px;  /* Или другой размер для иконки */
    height: 29px;
    margin-top: -5px;
}

.user-name {
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.user-name-p {
    align-items: center;
    text-decoration: none;
    color: #d6ffa4;
}

.main {
    background-color: #2c2c2c;
    border: none;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;              /* Ширина блока */
    height: 380px;
    margin-left: 160px;        /* Смещение влево */
    margin-top: 50px;
    cursor: default;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.profile-content {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.profile-avatar {
    width: 230px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    text-align: left;
}

.profile-info p {
    margin: 10px 0;
}

.edit-link {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 16px;
    color: #d6ffa4;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 18px;
}

.edit-link:hover {
    color: #caff75;
}

.load-prof{
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
}